h1#article-title {
  text-decoration: underline;
  padding: 20px;
}

.single-article-container {
  display: flex;
  flex-direction: column;
}

#single-article-item {
  margin: 16px;
  padding: 5px;
}

.comment-btn {
  width: 3em;
  background: none;
  border: none;
  background-color: white;
  color: #e74c3c;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: 0.4s;
  margin: 12px;
  border-radius: 10px;
}

.comment-btn:hover {
  color: white;
  background-color: #e74c3c;
}

.comment-login-box h1 {
  font-size: 40px;
  border-bottom: 2px solid black;
  padding: 13px 0;
}

#new-comment-btn {
  font-weight: bold;
  border-radius: 10px;
  background: none;
  border: none;
  border-bottom: white;
  padding: 5px;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: 0.4s;
  margin: 12px 0;
}

#new-comment-btn:hover {
  background-color: #e74c3c;
  color: white;
  border-bottom: black;
}

#comment-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 0;
  padding: 0;
}

.comment-form-body {
  font-family: 'Raleway', sans-serif;
}

#comment-textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 0 0;
  margin: 0 0;
  border-bottom: 1px solid black;
}

#comment-textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 100%;
  float: center;
  margin: 0 10px;
}

.upvote-btn {
  background-color: none;
  font-size: 20px;
  border: none;
  border-style: none;
  border-width: none;
  padding: 20px;
}

.downvote-btn {
  background-color: none;
  font-size: 20px;
  border: none;
  border-style: none;
  border-width: none;
  padding: 20px;
}

.comment-textarea {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 0 0;
  margin: 0 0;
  border-bottom: 1px solid black;
}

.text-area {
  border: none;
  margin: 0px;
  height: 56px;
  width: 257px;
}
