@media only screen and (min-width: 768px) {
  .toggle {
    display: none;
  }
}

.header {
  grid-area: hd;
  height: 100%;
}

.constant-title {
  margin-top: 100px;
}

h4 {
  margin-top: 15px;
}

.first-letter {
  color: #e74c3c;
}
