a {
  color: black;
  text-decoration: none;
}

.toolbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #bdc3c7;
  height: 55px;
}

.toolbar-navigation {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.toolbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-items a {
  color: black;
  text-decoration: none;
}

.toolbar-items li:hover,
.toolbar-items li:active {
  transition: 0.8s;
  color: white;
  background-color: #e74c3c;
}

.toolbar-items li {
  padding-left: 20px;
  padding-right: 20px;
}

.toolbar-items li.spacer {
  padding-left: 45em;
}

.toolbar-items li.spacer:hover {
  transition: 0.8s;
  background-color: #bdc3c7;
}

.toolbar-items a:hover,
.toolbar-items a:active {
  transition: 0.8s;
  color: white;
}

@media (max-width: 768px) {
  .toolbar-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar-toggle-button {
    display: none;
  }
}

/* 
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bdc3c7;
}

.navbar-element {
  float: left;
  display: inline;
  display: block;
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

.navbar-element:hover {
  transition: 0.8s;
  color: white;
  background-color: #e74c3c;
}

.last-navbar-element {
  float: right;
  display: right;
  display: block;
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

.first-letter {
  color: #e74c3c;
} */
