#r-a-title {
  text-decoration: underline;
}

#r-a-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
  margin: 0;
}

#container-items a {
  color: black;
  transition: 0.4s;
}

#container-items a:hover {
  color: white;
}
